*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #0f172a;
  color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: #2d7dce7c;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1{
  color: #3b82f6;
  margin-bottom: 1rem 0 0.5rem;

}

input{
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0 1rem;
  border: none;
  border-radius: 8px;
  background-color: #0f172a;
  color: #f1f5f9;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.3);
}

button{
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: #3b82f6;
  color: #f1f5f9;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover{
  background-color: #2563eb;
}

.result{
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #60a5fa;
}